.menu-list {
  display: flex;
  @media(max-width: 768px) {
    flex-wrap: wrap;
  }
  &__item {
    min-width: 0;
    margin-right: 60px;
    @media(max-width: 1170px) {
      margin-right: 15px;
    }
    @media(max-width: 768px) {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 24px;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
