header.header
    .container
        .header__wrapper
            .burger
                span
                span
                span
            nav.header__nav
                ul.header__menu.menu-list
                    li.menu-list__item
                        a.menu-list__link(href="#") Home
                    li.menu-list__item
                        a.menu-list__link(href="#") About
                    li.menu-list__item
                        a.menu-list__link(href="#") Contact
            span.header__logo.logo Landie
            button.header__btn.btn.btn--dark(type="button") Buy Now
