section.section-content.section-white-bg
    .container
        .section__wrapp
            img(src="img/section_five_pic.png").section-content__img
            .section-content__box
                h2.section-content__title.title Light, Fast & Powerful
                p.section-content__desc.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                button(type="button").btn.btn--dark Purchase Now
