section.section-content
    .container
        .section__wrapp
            .section-content__box
                h2.section-content__title.title Light, Fast & Powerful
                p.section-content__desc.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                ul.main-list
                    li.main-list__item
                        svg.main-list__icon
                            use(xlink:href="#list_icon")
                        h3.main-list__title Title Goes Here
                        p.main-list__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    li.main-list__item
                        svg.main-list__icon
                            use(xlink:href="#list_icon")
                        h3.main-list__title Title Goes Here
                        p.main-list__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            img(src="img/section_two_bg.png").section-content__img
