section.section-center
    .container
        .section-center__box.price
            h2.price__title.title.title--center A Price To Suit Everyone
            p.price__desc.desc.desc--center Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            span.price__int.int $40
            p.price__small.int-desc
            p.price__text.int-text See, One price. Simple.
            a(href="#").btn.btn--dark.price__btn Purchase Now

