section.section-content.section-head
    .section-content__pic(style="background-image: url('img/head_bg.png')")
    .container
        .section-content__box
            h2.section-content__title.title Introduce Your Product Quickly & Effectively
            p.section-content__desc.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            a(href="#").section-content__btn.btn.btn--dark Purchase UI Kit
            a(href="#").section-content__btn.btn.btn--light Learn More
